<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JRCustomKVODemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3378543E1D7FFA3600EA6EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337854571D7FFA3600EA6EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337854621D7FFA3600EA6EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
